<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet' />
<% provide(:title, 'Contacto') %>
<div id="map">
	<script>
		var map = L.mapbox.map('map', 'agce.ih61nlpk', {scrollWheelZoom: false})
	    center = [19.425335844941933,-99.19474124908447];
	    control.addTo(map);
	</script>
</div>

<div id="contacto-info">
	<div class="container">
		<div class="row">
			<div class="col-md-4" id="direccion">
				<h4>Dirección</h4>
				<p>Paseo de la Reforma 50, Miguel Hidalgo, Bosque de Chapultepec, 11560 Ciudad de Mexico, D.F.</p>
			</div>

			<div class="col-md-4" id="telefono">
				<h4>Lada sin costo</h4>
				<p>01 800 154 2145</p>
			</div>

			<div class="col-md-4" id="correo">
				<h4>Correo electrónico</h4>
				<p>contacto@kpoperos.com</p>
			</div>
		</div>
	</div>
</div>

					<div id="container-calendario">
						<div class="container">
							<div class="row">
								<h3>CALENDARIO</h3>
							</div>
							<div class="row">
								<div id="filtro-calendario" class="col-xs-6 col-xs-offset-3">
									<div class="btn-group">
									  <button type="button" class="btn btn-default col-md-4 col-xs-12" id="btn-mie">Mie20</button>
									  <button type="button" class="btn btn-default col-md-4 col-xs-12" id="btn-jue">Jue21</button>
									  <button type="button" class="btn btn-default col-md-4 col-xs-12" id="btn-vie">Vie22</button>
									</div>
								</div>
							</div>
							<div class="row">
								<div id="calendario" class="col-xs-8 col-xs-offset-2">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>Actividad</th>
												<th>Hora</th>
												<th>Lugar</th>
											</tr>
										</thead>
										<tbody id="miercoles">
											<tr>
												<td>Inauguración</td>
												<td>09:00</td>
												<td>Auditorio Nacional</td>
											</tr>
											<tr>
												<td>Conferencia Lorem</td>
												<td>10:00</td>
												<td>Auditorio Nacional</td>
											</tr>
											<tr>
												<td>Entrega de premios</td>
												<td>12:00</td>
												<td>Auditorio Nacional</td>
											</tr>
											<tr>
												<td>Presentación de tercer lugar</td>
												<td>13:00</td>
												<td>Auditorio Nacional</td>
											</tr>
											<tr>
												<td>Comida/Escenario Abierto</td>
												<td>13:30</td>
												<td>Auditorio Nacional</td>
											</tr>
											<tr>
												<td>Clausura</td>
												<td>16:00</td>
												<td>Auditorio Nacional</td>
											</tr>
										</tbody>
										<tbody id="jueves">
											<tr>
												<td>Conferencia Ipsum</td>
												<td>09:00</td>
												<td>Auditorio Nacional</td>
											</tr>
											<tr>
												<td>Exposición de arte KPop</td>
												<td>11:00</td>
												<td>Auditorio Nacional</td>
											</tr>
											<tr>
												<td>Presentación de segundo lugar</td>
												<td>12:00</td>
												<td>Auditorio Nacional</td>
											</tr>
											<tr>
												<td>Comida/Escenario Abierto</td>
												<td>13:00</td>
												<td>Auditorio Nacional</td>
											</tr>
											<tr>
												<td>Clausura</td>
												<td>16:00</td>
												<td>Auditorio Nacional</td>
											</tr>
											<tr>
												<td>Evento Social: Jules</td>
												<td>22:00</td>
												<td>Jules Basement</td>
											</tr>
										</tbody>
										<tbody id="viernes">
											<tr>
												<td>Conferencia Turbopop</td>
												<td>10:00</td>
												<td>Auditorio Nacional</td>
											</tr>
											<tr>
												<td>Presentación música Kpop</td>
												<td>12:00</td>
												<td>Auditorio Nacional</td>
											</tr>
											<tr>
												<td>Presentación de primer lugar</td>
												<td>12:00</td>
												<td>Auditorio Nacional</td>
											</tr>
											<tr>
												<td>Entrega de reconocimientos</td>
												<td>12:30</td>
												<td>Auditorio Nacional</td>
											</tr>
											<tr>
												<td>Comida/Escenario Abierto</td>
												<td>13:00</td>
												<td>Auditorio Nacional</td>
											</tr>
											<tr>
												<td>Clausura</td>
												<td>16:00</td>
												<td>Auditorio Nacional</td>
											</tr>
											<tr>
												<td>Evento Social: Hyde</td>
												<td>16:00</td>
												<td>Hyde</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

<div id="forma-contacto">
	<div class="container">
		<h3>Enviar <font style="font-weight:700;">mensaje</font></h3>
		<form role="form">
			<div class="row">  
			  <div class="form-group col-md-4 col-md-offset-4">
			  	 <label for="nombre">Nombre</label>
			  	 <input type="text" class="form-control" id="nombre" placeholder="Nombre">
			  </div>
			</div>
			<div class="row">  
			  <div class="form-group col-md-4 col-md-offset-4">
			    <label for="correoe">Correo electrónico</label>
			    <input type="email" class="form-control" id="correoe" placeholder="Correo electrónico">
			  </div>
			  </div>
			<div class="row">  
			  <div class="form-group col-md-4 col-md-offset-4">
			    <label for="mensaje">Mensaje</label>
			    <textarea class="form-control" id="mensaje" rows="5">Mensaje</textarea>
			  </div>
			</div>
		<div class="row">	
		  <button type="submit" class="btn btn-default col-md-2 col-md-offset-5">Submit</button>
		</div>
		</form>
	</div>
</div>
