<p>Hola <%= @username %>!</p>

<p>Bienvenido a Kpoperos! Puedes confirmar tu cuenta haciendo clic en el siguiente link</p>

<p><%= link_to 'Confirmar Cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
