<p>Hola <%= @resource.username %>!</p>

<p>Alguien ha solicitado el reestablecimiento de tu contrase침a. Puedes lograrlo haciendo clic en el link de abajo.</p>

<p><%= link_to 'Cambiar contrase침a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste el cambio, porfavor ignora este mensaje.</p>
<p>Tu contrase침a no se ver치 afectada hasta que el link sea activado.</p>

<p>Gracias - Kpoperos</p>
