<p>Hola <%= @resource.username %>!</p>

<p>Tu cuenta ha sido bloqueada temporalmente debido a un numero excesivos de intentos. Para desbloquearla haz clic en el siguiente link.</p>

<p><%= link_to 'Debloquea mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>

<p>Gracias - Kpoperos</p>